.feature-one{
   &__wrapper{
      position: relative;
      z-index: 1;
      max-width: 550px;
      margin: 0 auto 30px;
   }
   &__image{
      position: relative;
      z-index: 9
   };
   &__icon-box{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 126px;
      height: 126px;
      border-radius: 50%;
      background: $white;
      position: absolute;
      bottom: -63px;
      left: 50%;
      margin-left: -63px;
      @media(max-width: 1024px){
         width: 90px;
         height: 90px;
         bottom: -45px;
         margin-left: -45px;
      }
      &::before{
         position: absolute;
         content: '';
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         border: 1px solid $white;
         border-radius: 50%;
         opacity: 0;
         @include animation(pulse-border-2 1.5s linear infinite);
      }
      &::after{
         position: absolute;
         content: '';
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         border: 1px solid $white;
         border-radius: 50%;
         opacity: 0;
         @include animation(pulse-border 1s linear infinite);
      }
      i{
         font-size: 64px;
         color: $theme-color;
         @media(max-width: 1024px){
            font-size: 40px;
         }
      }
      svg{
         width: 64px;
         height: auto;
         fill: $theme-color;
         @media(max-width: 1024px){
            font-size: 40px;
         }
      }

   }
   &__box-content{
      padding: 80px 30px 50px;
      text-align: center;
      position: relative;
      background-color: $theme-color;
      @media(max-width: 1024px){
         padding: 65px 20px 40px;
      }
   }
   &__title{
      margin: 15px 0 15px;
      font-size: 22px;
      letter-spacing: -1px;
      color: $white;
      a{
         color: $white;
         &:hover{
            text-decoration: underline;
         }
      }
   }
   &__desc{
      color: rgba(255, 255, 255, 0.8);
      @media(max-width: 1024px){
         font-size: 15px;
         line-height: 28px;
      }
   }
}

.feature-two{
   &__single{
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      margin: 0 auto 30px;
      max-width: 550px;
      position: relative;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
      background: $white;
   }
   &__content{
      display: flex;
   }
   &__icon{
      background: $theme-color;
      padding: 15px 10px;
      width: 110px;
      flex: 0 0 110px;
      text-align: center;
      position: relative;
      transition: all 0.5s;
      &:before{
         content: '';
         width: 100%;
         height: 0;
         position: absolute;
         top: 0;
         left: 0;
         background: $theme-color;
         z-index: 1;
         opacity: 0;
         transition: all 0.5s;
      }
      &:after{
         content: '';
         width: 175px;
         height: 175px;
         position: absolute;
         bottom: 60px;
         right: 35px;
         background: $white;
         opacity: 0.1;
         border-radius: 50%;
         z-index: 11;
         transition: all 0.5s;
      }
      i{
         color: $white;
         font-size: 58px;
      }
      svg{
         fill: $white;
         width: 58px;
         height: auto;
      }
   }
   &__icon-box{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 11;
   }
   &__content-inner{
      padding: 25px 30px 28px;
      @media(max-width: 1200px){
         padding-left: 15px;
         padding-right: 15px;
      }
   }
   &__title{
      margin: 0 0 16px;
      @media(max-width: 1200px){
         font-size: 22px;
      }
   }
   &__single{
      &:hover, &:active, &.active{
         .feature-two{
            &__icon{
               &:before{
                  opacity: 1;
                  height: 100%;
               }
               &:after{
                  background: $theme-color-2;
               }
            }
         }
      }
   }
}


.feature-three{
   &__single{
      position: relative;
      max-width: 360px;
      margin: 0 auto 30px;
   }
   &__content{
      text-align: center;
      position: relative;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.12);
      padding: 26px 20px 30px;
      margin-top: 30px;
      border-radius: 8px;
      background: $white;
      &:after{
         content: '';
         border: 15px solid transparent;
         border-bottom-color: $white;
         position: absolute;
         bottom: 100%;
         left: 50%;
         margin-left: -15px;
         z-index: 1;
      } 
   }
   &__icon{
      width: 108px;
      height: 108px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: $theme-color;
      margin: 0 auto;
      border-radius: 50%;
      position: relative;
      z-index: 11;
      &:after{
         content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         top: 0;
         background: $theme-color;
         z-index: -1;
         border-radius: 50%;
         transform: scale(1.2);
         opacity: 0;
         transition: 0.5s;
      }
      i{
         color: $white;
         font-size: 58px;
      }
      svg{
         fill: $white;
         width: 58px;
         height: auto;
      }
   }
   &__number{
      width: 50px;
      height: 50px;
      border: 4px solid $theme-color;
      background: $white;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      margin-right: -8px;
      right: 100%;
      border-radius: 50%;
      z-index: 19;
      font-size: 16px;
      line-height: 44px;
      font-weight: 700;
      color: $headings-color;
   }
   &__title{
      font-size: 20px; 
      margin: 0 0 10px;
   }
   &__single{
      &:hover{
         .feature-three{
            &__icon{
               &:after{
                  opacity: 1;
                  transform: scale(1);
               }
            }
         }
      }
   }
}