.service-one{
   &__single{
      margin-bottom: 30px;
      background: $white;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
      position: relative;
   }
   &__content{
   }
   &__image{
      position: relative;
      &:after{
         content: '';
         clip-path: polygon(50% 28px, 100% 0, 100% 12px, 50% 40px, 0 12px, 0 0);
         width: 100%;
         height: 39px;
         left: 0;
         bottom: -16px;
         z-index: 1;
         position: absolute;
         background: $white;
         transition: all 0.35s;
      }
   }
   &__content-inner{
      padding: 15px 30px 15px;
      position: relative;
      text-align: center;
      clip-path: polygon(50% 18px, 100% 0%, 100% 100%, 0 100%, 0% 0%);
      background: $white;
      top: -14px;
      @media(max-width: 1200px){
         padding: 15px;
      }
   }
   &__icon{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 32px;
      background: $theme-color-2;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      position: absolute;
      bottom: -40px;
      left: 50%;
      margin-left: -40px;
      z-index: 9;
   }
   &__title{
      margin: 0;
      padding: 60px 0 10px;
   }
   &__desc{
      font-size: 15px;
      line-height: 26px;
   }
   &__link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
   }
   &__single{
      &:hover, &:focus, &.active{ 
         .service-one{
            &__image{
               &:after{
                  background: $theme-color;
               }
            }
            &__icon{
               background: $theme-color;
            }
         }
      }
   }
}

.service-two{
   &__single{
      background: $black;
      transition: all 0.5s;
      position: relative;
      margin-bottom: 30px;
      border-radius: 10px;
   }
   &__image{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: 0.5s;
      img{
         position: absolute;
         height: 100%!important;
         width: 100%!important;
         -o-object-fit: cover;
         object-fit: cover;
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         top: 50%;
         left: 50%;
         border-radius: 10px;
      }
   }
   &__content{
      padding: 40px 35px;
      transition: all 0.5s;
      border-radius: 8px;
      @media(max-width: 1024px){
         padding-left: 15px;
         padding-right: 15px;
      }
   }
   &__content-inner{
      position: relative;
      z-index: 9;
   }
   &__icon{
      font-size: 32px;
      color: $theme-color-2;
      position: relative;
      z-index: 9;
      i{
         font-size: 80px;
      }
      svg{
         width: 80px;
      }
   }
   &__title{
      margin: 25px 0 0px;
      font-size: 20px;
      color: $white;
      margin-bottom: 15px;
   }
   &__desc{
      line-height: 26px;
      color: #d3d3d3;
   }
   &__arrow{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $theme-color;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      right: 40px;
      z-index: 11;
      opacity: 0;
      transition: all 0.35s;
   }
   &__link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
   }
   &__single{
      &:hover, &:focus{
         .service-two{
            &__image{
               opacity: 0.3;
            }
            &__content{
               border-color: $theme-color;
               border-radius: 0;
            }
            &__icon{
               i{
                  color: $theme-color;
               }
               svg{
                  fill: $theme-color;
               }
            }
            &__arrow{
               opacity: 1;
               bottom: -25px;
            }
         }
      }
   }
}

.item-active.center{
   .service-two{
      &__image{
         opacity: 0.3;
      }
      &__content{
         border-color: $theme-color;
         border-radius: 0;
      }
      &__icon{
         i{
            color: $theme-color;
         }
         svg{
            fill: $theme-color;
         }
      }
      &__arrow{
         opacity: 1;
         bottom: -25px;
      }
   }
}

.service-three{
   &__single{
      background: $white;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 30px;
      transition: all 0.5s;
      position: relative;
      border-radius: 10px;
   }
   &__image{
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      transition: 0.8s;
      border-radius: 10px;
      img{
         position: absolute;
         height: 100%!important;
         width: 100%!important;
         -o-object-fit: cover;
         object-fit: cover;
         -webkit-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
         top: 50%;
         left: 50%;
      }
   }
   &__content{
      padding: 90px 30px 50px;
      transition: all 0.8s;
      position: relative;
      border-radius: 10px;
      @media(max-width: 1024px){
         padding-left: 15px;
         padding-right: 15px;
      }
      &:after{
         content: '';
         background: $theme-color;
         width: 100%;
         height: 0%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         transition: all 0.8s;
         opacity: 0;
         border-radius: 8px;
      }
   }
   &__content-inner{
      position: relative;
      z-index: 11;
   }
   &__icon{
      width: 120px;
      height: 120px;
      margin: 0 auto;
      position: absolute;
      top: -60px;
      left: 50%;
      margin-left: -60px;
      border-radius: 50%;
      z-index: 11;
      display: inline-block;
      padding: 10px;
      background: $border-color;
      transition: all 0.8s;
      &:after{
         content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 50%;
         background: $theme-color;
         transform: scale(1.2);
         transition: all 0.8s;
         z-index: -1;
         opacity: 0;
      }
   }
   &__icon-inner{
      width: 100%;
      height: 100%;
      background: $white;
      color: $theme-color;
      font-size: 32px;
      background: $white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.8s;
      svg{
         fill: $white;
      }
   }
   &__title{
      margin: 0 0 15px;
      font-size: 20px;
   }
   &__desc{
      line-height: 28px;
      transform: all 0.5s;
   }
   &__button{
      margin-top: 25px;
   }
   &__link-overlay{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 11;
   }
   &__single{
      &:hover, &:focus, &.active{
         .service-three{
            &__image{
               opacity: 0.1;
            }
            &__content{
               border-color: $black;
               &:after{
                  opacity: 1;
                  height: 100%;
               }
            }
            &__title{
               color: $white;
               a{
                  color: $white;
               }
            }
            &__button{
               a{
                  background: $theme-color-2;
               }
            }
            &__desc{
               color: rgba(255, 255, 255, 0.8);
            }
         }
      }
   }
}

.swiper-slide.item-active.center{
   .service-three{
      &__image{
         opacity: 0.1;
      }
      &__content{
         border-color: $black;
         &:after{
            opacity: 1;
            height: 100%;
         }
      }
      &__title{
         color: $white;
         a{
            color: $white;
         }
      }
      &__button{
         a{
            background: $theme-color-2;
         }
      }
      &__desc{
         color: rgba(255, 255, 255, 0.8);
      }
   }
}