.team-one{
	&__single{
		position: relative;
		max-width: 450px;
		margin: 0 auto 30px;
	}
	&__image{
		position: relative; 
		z-index: 11;
		overflow: hidden;
		text-align: center;
		padding-right: 30px;
		padding-left: 30px;
		img{
			width: 100%;
			border-radius: 10px;
		}
		a.link-content{
			display: block;
			position: relative;
			&:after{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				background: rgba(0, 0, 0, 0.3);
				opacity: 0;
				transition: all 0.35s;
			}
		}
	}
	&__content{
		background: $white;
		position: relative;
		border-radius: 10px;
		&:after{
			content: '';
			width: 100%;
			height: calc(100% + 150px);
			bottom: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			background: $white;
			box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
			border: 2px solid $border-color;
			border-radius: 10px;
		}
	}	
	&__content-inner{
		position: relative;
		z-index: 9;
		padding: 30px;
		text-align: center;
	}
	&__name{
		font-size: 22px;
		margin: 0 0 2px;
		line-height: 20px;
	}
	&__job{
		font-size: 14px;
		font-weight: 500; 
	}
 	&__social{
		position: absolute;
		bottom: 0;
		right: 30px;
		z-index: 11;
	}
	&__social-control{
		display: inline-block;
		width: 50px;
		height: 50px;
		background: $theme-color;
		color: $white;
		line-height: 50px;
		text-align: center;
		opacity: 1;
		border-radius: 0 0 10px 0;
		a{
			display: block;
			color: #fff;
		}
	}
	&__social-link{
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 50px;
		background: $theme-color;
		padding: 10px 0 0;
		margin-bottom: -15px;
		opacity: 0;
		transition: all 0.35s;
		> a{
			display: block;
			color: $white;
			text-align: center;
			padding: 10px 0;
			line-height: 1;
			transition: all 0.35s;
			opacity: 0.9;
			&:hover{
				opacity: 1;
			}
		}
	}
	&__single{
		&:hover, &:focus{
			.team-one{
				&__social-link{
					opacity: 1;
					margin-bottom: 0;
				}
			}
		}
	}
}

.swiper-slide-next{
	.gsc-team-item{
		.team-content{
			border-color: $theme-color;
		}
	}
}

.gsc-team-item-2{
	background: $white;
	position: relative;
	margin: 0 auto 30px;
	padding: 30px 20px;
	border: 5px solid $border-color;
	border-radius: 6px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: all 0.35s;
	.team-image{
		position: relative; 
		text-align: center;
		flex: 0 0 186px;
		width: 186px;
		.image-content{
			overflow: hidden;
			width: 180px;
			height: 180px;
			border-radius: 50%;
			position: relative;
			img{
				position: absolute;
				height: 100%;
				width: 100%;
				object-fit: cover;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
			}
		}
		a.link-content{
			display: block;
			position: relative;
			height: 100%;
			&:after{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				background: rgba(0, 0, 0, 0.3);
				opacity: 0;
				transition: all 0.35s;
			}
		}
		.socials-team{
			position: absolute;
			bottom: -6px;
			right: 25px;
			z-index: 11;
			.socials-control{
				display: inline-block;
				width: 40px;
				height: 40px;
				background: $theme-color;
				color: $white;
				line-height: 40px;
				text-align: center;
				border-radius: 50%;
			}
			.social-link{
				position: absolute;
				bottom: 100%;
				left: 0;
				width: 40px;
				background: $theme-color;
				border-radius: 30px;
				padding: 10px 0;
				margin-bottom: -15px;
				opacity: 0;
				transition: all 0.35s;
				> a{
					display: block;
					color: $white;
					text-align: center;
					margin: 10px 0;
					line-height: 1;
					opacity: 0.8;
					transition: all 0.35s;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
	}
	.team-content{
		text-align: center;
		flex: 0 0 100%;
		.team-name{
			font-size: 20px;
			font-weight: 800;
			line-height: 32px;
			margin: 20px 0 0;
		}
		.team-job{
			font-size: 16px;
			font-weight: 500;
			line-height: 18px;
		}
		.team-desc{
			line-height: 30px;
			margin: 10px 0 16px;
		}
		.socials-team{
			a{
				color: $body-color;
				border: 1px solid $border-color;
				margin-right: 8px;
				width: 38px;
				height: 38px;
				display: inline-block;
				line-height: 38px;
				border-radius: 50%;
				text-align: center;
				font-size: 14px;
				&:last-child{
					margin-right: 0;
				}
				&:hover{
					background: $theme-color;
					color: $white;
					border-color: $theme-color;
				}
			}
		}
	 }
	 &:hover{
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
		border-color: $theme-color;
		.team-image{
			.socials-team{
				.social-link{
					margin-bottom: 5px;
					opacity: 1;
				}
			}
		}
	}
	&.active{
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
		border-color: $theme-color;
	}
}

.swiper-slide.item-active.center{
	.gsc-team-item-2{
		box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
		border-color: $theme-color;
	}
} 