.video-one{
	&__single{
  		position: relative;
  		padding-bottom: 20px;
  		padding-left: 20px;
  		margin-bottom: 30px;
  	}
 	&__inner{
		min-height: 120px;
		min-width: 120px;
		text-align: center;
		&:after{
			content: '';
			position: absolute;
			top: 50px;
			right: 190px;
			bottom: 0;
			left: 0;
			background: $theme-color-2;
			z-index: -1;
			border-radius: 10px;
		}
		@include media-breakpoint-down(lg){
		  	min-height: 100px;
		  	min-width: 100px;
		}
		@include media-breakpoint-down(md){
		  	min-height: 80px;
		  	min-width: 80px;
		}
		@include media-breakpoint-down(sm){
		  	min-height: 60px;
		  	min-width: 60px;
		}
	}
	&__image{
		overflow: hidden;
		border-radius: 10px;
	}
	&__content{
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 11;
		> div{
			display: inline-block;
		}
	}
	&__title{
		font-size: 25px;
		color: $white;
		font-weight: 500;
		@media(max-width: 600px){
			display: none; 
		}
	}
  	&__action{
	 	.popup-video{
			display: inline-block;
			font-size: 28px;
			color: $white;
			background: $theme-color; 
			text-align: center;
			position: relative;
			@include transition(all 0.35s);
			width: 138px;
			height: 138px;
			line-height: 138px; 
			border-radius: 8px;
			@media(max-width: 1024px){
				width: 100px;
				height: 100px;
				line-height: 100px;
			}
			&::before{
			  	position: absolute;
			  	content: '';
			  	left: 0;
			  	top: 0;
			  	height: 100%;
			  	width: 100%;
			  	border: 1px solid $theme-color;
			  	opacity: 0;
				border-radius: 8px;
			  	@include animation(pulse-border-2 1.5s linear infinite);
			}
			&::after{
			  	position: absolute;
			  	content: '';
			  	left: 0;
			  	top: 0;
			  	height: 100%;
			  	width: 100%;
			  	border: 1px solid $theme-color;
			  	opacity: 0;
			  	border-radius: 8px;
			  	@include animation(pulse-border 1s linear infinite);
			}
	 	}
  	}
  	&__single{
		&:hover{
			.video-one{
			  	&__action{
				 	.popup-video{
						box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
						@include scale(1.1);
				 	}
			  	}
			 }
		}
	}
}



.video-two{
  	&__action{
  		text-align: center;
	 	.popup-video{
			display: inline-block;
			font-size: 26px;
			color: $white;
			text-align: center;
			position: relative;
			@include transition(all 0.35s);
			@include size(100px, 100px);
			line-height: 100px;
			border-radius: 50%;
			background: $theme-color;
			@media(max-width: 1200px){
				@include size(90px, 90px);
				line-height: 90px;
			}
			@media(max-width: 1024px){
				@include size(80px, 80px);
				line-height: 80px;
			}
			&::before{
			  	position: absolute;
			  	content: '';
			  	left: 0;
			  	top: 0;
			  	height: 100%;
			  	width: 100%;
			  	border: 1px solid $theme-color;
			  	opacity: 0;
			  	border-radius: 50%;
			  	@include animation(pulse-border-2 2s linear infinite);
			}
			&::after{
			  	position: absolute;
			  	content: '';
			  	left: 0;
			  	top: 0;
			  	height: 100%;
			  	width: 100%;
			  	border: 1px solid $theme-color;
			  	opacity: 0;
			  	border-radius: 50%;
			  	@include animation(pulse-border 1.5s linear infinite);
			}
	 	}
  	}
  	&__title{
  		font-family: $font-second;
  		color: $theme-color;
  		font-size: 30px;
  		margin-top: 20px;
  		text-align: center;
  	}
  	  	&__single{
		&:hover{
			.video-two{
			  	&__action{
				 	.popup-video{
						box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
						@include scale(1.1);
				 	}
			  	}
			 }
		}
	}
}