.custom-breadcrumb{
   position: relative;
   background-color: $black;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   margin-bottom: 35px;
   position: relative;
    z-index: 1;
   .breadcrumb-main{
	  position: relative;
	  z-index: 11; 
   }
   .breadcrumb-container-inner{
	  position: relative;
	  padding: 110px 0 115px;
	  @include media-breakpoint-down(lg){
   		padding-bottom: 85px;
   		padding-top: 90px;
	  }
	  @include media-breakpoint-down(md){
		 padding-bottom: 65px;
		 padding-top: 70px;
	  }
     &.align-center{
      text-align: center;
     }
     &.align-right{
      text-align: right;
     }
   }
  .heading-title{
	  font-size: 42px;
	  color: $white;
	  margin: 0 0 5px;
	  @include media-breakpoint-down(lg){
		 font-size: 38px; 
	  }
	  @include media-breakpoint-down(md){
		 font-size: 32px; 
	  }
	  @include media-breakpoint-down(sm){
		 font-size: 28px;
	  }
   }
  .breadcrumb{ 
	 	margin-bottom: 0;
	 	display: inline-block;
	 	font-size: 16px;
	 	font-weight: 500;
	 	color: #e5e5e5;
      a{
         color: #e5e5e5;
         &:hover{
            text-decoration: underline;
         }
      }
	 	li{
			float: left;
			position: relative;
			z-index: 11;
			line-height: 1;
			font-weight: 500;
			padding: 0 12px;
			&:after{
			  content: '/';
			  position: absolute;
			  bottom: 0;
			  left: -3px;
			  z-index: 1; 
			  color: #e5e5e5;
			}
			&:first-child{
            padding-left: 0;
		  		&:after{
			 		display: none;
		  		}
			}
         &:last-child{
            padding-right: 0;
         }
		}
  	}
  .breadcrumb-overlay{
	 position: absolute;
	 @include size(100%, 100%);
	 z-index: 1;
	 top: 0;
	 left: 0;
  }
  
  &.text-light{
	 .heading-title{
		color: $white 
	 }
  }
}

body.home.blog{
  .title-layout-standard{ 
	 .custom-breadcrumb{
		.heading-title{
		  display: inline-block!important;
		  float: left;
		  font-size: 18px;
		  margin: 5px 0 0;
		}
	 }
  }
}